@charset "UTF-8"

html,body {
	width:100%;
	text-align:center;
}
@media screen and (max-width:375px) {
	html,body {
		width:95%;
	}
}

header {
	width:100%;
	height:100%;
	position:relative;
	}
	header p {
		position:fixed; z-index:99;
		top:1em; right:1em;
		cursor:pointer;
	}
	header ul {
		position:fixed; z-index:99;
		top:50%; margin-top:-7em;
		right:1em;
	}
	header ul li {
		margin-bottom:1em;
	}

	section {
		width:100%;
		height:100%;
		min-height:800px;
		min-width:769px;
		position:relative;
	}
	section>img {
		width:100%;
	}
	footer>img {
		width:100%;
	}
	
#menu {
	width:100%;
	height:100%;
	background-color:#fff;
	position:fixed; top:0; left:-100%; /*width=100%이므로 그만큼 밖으로 내보냄*/
	z-index:1000;
	text-align:right;	
	}
	#menu p {
		font-size:30px;	
		padding:20px;
		cursor:pointer;
	}

#menu #menu-in {
	position:relative;
	margin-right:8em;
	}
	#menu-in strong {
		font-size:3.5em;
		line-height:1.8;
		color:#999;
		transition:1s;
	}
	#menu .sub_menu {
		overflow:hidden;
		position:absolute;
		right:10em;
		top:20%;
	}
	#menu #menu-in>li {
		position:relative;
	}
	#menu .sub_menu li {
		float:right;
		font-size:1.7em;
		margin:0.5em 1.5em;
		;
	}
	#menu .sub_menu li a {
		transition:.3s;
	}
	#menu .sub_menu li a:hover {
		color:#ef6d00;
	}

#menu #lnb {
	position:absolute;
	left:1%;
	top:0;
	overflow:hidden;
	width:10%;
	}
	#menu #lnb li {
		float:left;
		margin:10% 5%;
	}

#home {
	width:100%;
	height:100%;
	text-align:center;
	overflow:hidden;
	}
	#home p {
		padding:1em 0;
		line-height:1.5;
		font-family:고양R;
	}
	#home h2 {
		margin-top:0.5em;
		font:normal 3em 경기R;
		line-height:1.8;	
	}
	#home h3 {
		margin-bottom:1.5em;
	}
	
section {
	width:100%;
	text-align:center;
	overflow:hidden;
}

#fixed {		
	position:fixed; z-index:99;
	right:10%;
	top:10%;
	opacity:0.9;
	transition:.5s;
	}
	#fixed img {
		width:250px;
	}

.header {
	width:100%;
	text-align:center;
	}
	.header #list {
		margin-top:3em;
		text-align:center;
		}
		#list li {
			display:inline-block;
			line-height:0.5;
			vertical-align:bottom;
			margin:0 0.5em;
		}
	.header h3 {
		text-align:center;
		font-size:3em;
		color:#666;
		padding-top:1em;
	}
	.header h3:last-of-type {
		margin-bottom:1.5em;
	}
	.header #button {
		text-align:center;	
		padding:0.7em 1em;
		color:#f15a24;
		border:2px solid #f15a24;
		width:10em;
		margin:0 auto;
		font-family:고양R;
		font-size:1.2em;
		transition:.5s;
	}
	.header dd {
		margin-top:3em;
	}
	.header #button:hover {
		background-color:#f15a24;
		color:#fff;
		cursor:pointer;
	}

.mid {		
	width:90%;
	margin:0 auto;
	margin-top:4em;
	overflow:hidden;
}
#search {
	float:left;
	border:1px solid #f15a24;
	border-radius:1em;
	padding:0.2em;
}
#search button {
	border:none;
	background-color:transparent;
	color:#f15a24;
	font-size:1.2em;	
}
#search input[type=text] {
	border:none;	
	padding:0.3em 0;
	background-color:transparent;
}
#filter {
	float:right;	
	}
	#filter li {
		text-align:center;
		font:normal 0.9em 고양R;
		width:80px;
		height:30px;
		line-height:30px;
		border:1px solid #f15a24;
		color:#f15a24;
		display:inline-block;
		transition:.5s;
	}
	#filter li:hover {
		background-color:#f15a24;
		color:#fff;
		cursor:pointer;
	}

.content {
	width:90%;
	margin:0.5em auto 3em auto;
	padding:4em 0;
	border-top:1px solid #f15a24;
	border-bottom:1px solid #f15a24;
	overflow:hidden;
	}
	section .card {
		width:450px;
		height:490px;	
		box-shadow:0 0 20px rgba(0,0,0,0.2);
		position:relative;
		margin:2em;
		display:inline-block;
		cursor:pointer;
		
		transform: scale(1);
	  -webkit-transform: scale(1);
	  -moz-transform: scale(1);
	  -ms-transform: scale(1);
	  -o-transform: scale(1);
	  transition: all 0.3s ease-in-out; 
	}
	section .card:hover {
		box-shadow:0 0 30px rgba(0,0,0,0.2);
		transform: scale(1.02);
	  -webkit-transform: scale(1.02);
	  -moz-transform: scale(1.02);
	  -ms-transform: scale(1.02);
	  -o-transform: scale(1.02);
	}
	section .card .info {
		position:absolute;
		width:100%;
		bottom:38%;	
		font-family:고양R;
		font-size:0.9em;
	}
	section .card .info dt {
		color:#fff;
		font-size:1.3em;
	}
	section .card .info dd:nth-of-type(1) {
		color:#c0c0c0;
		font-size:0.8em;	
	}
	section .card .info dd:nth-of-type(2) {
		color:#ef6d00;
		padding:0.6em 0;
		text-shadow: 
		-1px -1px 5px rgba(0,0,0,0.3),
		1px -1px 5px rgba(0,0,0,0.3),
		-1px 1px 5px rgba(0,0,0,0.3),
		1px 1px 5px rgba(0,0,0,0.3);
	}
	section .card .info dd:nth-of-type(3) {
		color:#e0e0e0;
	}
	section .card .stars {
		position:absolute;
		bottom:33%;
		right:0;
		color:#face49;
		font-size:1.3em;
	}
	section .card span {
		margin-left:-0.2em;
	}
	section .card .ref {
		width:100%;
		position:absolute;
		bottom:3%;
		left:50%; margin-left:-15em;
		line-height:1.8;
		vertical-align:middle;
		font-family:고양R;
		font-size:0.96em;
		color:#666;	
	}
	section .card .ref li {
		display:inline-block;	
		width:9em;
		transition:.5s;
	}
	section .card .ref li:hover {
		color:#f15a24;
	}

#pagebar {
	width:100%;
	text-align:center;
	margin:3em 0;
	}
	#pagebar li {
		display:inline-block;
		border:1px solid #999;
		width:30px;
		height:30px;
		line-height:30px;
		cursor:pointer;
		color:#999;
		transition:.5s;
	}
	#pagebar li:hover {
		color:#f15a24;
		border:1px solid #f15a24;
	}


footer {
	background-color:#0f1945;
	background:url(../images/footer.jpg) no-repeat;
	background-position:center;
	padding-top:3%;
	width:100%;
	height:460px;	
	position:relative;
	}
	footer div {
		width:768px;
		margin:0 auto;
		text-align:center;
		overflow:hidden;
	}
	footer #fnb {	
		border-top:1px solid #f15a24;
		padding-top:1.5em;
		}
		footer #fnb dl {
			display:inline-block;
			margin:0 1.2em;
		}
		footer #fnb dl:first-child {
			margin-left:0;
		}
		footer #fnb dl:last-child {
			margin-right:0;
		}
		footer #fnb dd {
			color:#f15a24;
			font-size:0.75em;
			font-family:고양R;
			padding-top:0.8em;
		}
	footer #app,#sns {
		float:left;
	}
	footer #app {
		width:50%;
		font-size:1.5em;
		color:#f15a24;
		overflow:hidden;
		margin-top:2em;	
		padding-top:0.2em;	
		line-height:1.2;
		border-right:1px solid #f15a24;
		}
		footer #app>* {
			float:left;
		}
		footer #app li {
			width:25%;
		}
		footer #app li:first-child {
			width:50%;	
		}
	footer #sns {
		width:50%;
		overflow:hidden;
		margin-top:3.45em;	
	}
	footer #sns>* {
		float:left;
		width:20%;
	}
	footer #imp {
		width:600px;
		margin:0 auto;
		margin-top:2em;
	}
	footer #imp>* {
		display:inline-block;
		text-align:center;	
		padding:0 0.07em;
	}
	footer #imp>*:after {
		content:'|';
		color:#6c7796;
		padding-left:0.3em;
	}
	footer #imp li:last-child:after {
		content:none;
	}
	footer #imp a {
		color:#6c7796;
		font-size:0.8em;
		font-family:고양R;
		line-height:2;
	}
	footer address {
		position:absolute;
		bottom:0;
		width:100%;
		background-color:rgba(255,255,255,0.2);
		height:4em;
		line-height:4em;
		text-align:center;
		color:#fff;
		font-size:1.1em;
		font-style:normal;
		letter-spacing:0.1em;
	}